.container{
    position: relative;
}

.key {
    /* border: 5px solid; */
    /* background-color: red; */
    width:71px;
    height:34px;
    position: absolute;  
    left:545px;
    top:390px;
  }
  
.image{
    width: 100%;
    height: 100%;
}